<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Un petit carte</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <input type="text" placeholder="comm" [(ngModel)]="aCommu">
        <div class="row">
            <div class="col-6"><app-no-url></app-no-url></div>
            <div class="col-6"> <app-child [communicated]="aCommu" (resetEvent)="onReset($event)"></app-child></div>
        </div>
    </div>
</div>

