
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

<div class="container" [appHighlight]="'green'" *ngIf="!isLogged()">
    <form [formGroup]="loginForm">
        <label for="username">username</label><br>
        <input type="text" id="username" formControlName="username" placeholder="taille >= 5"><br>
        <label for="pswd"> password </label><br>
        <input type="password" id="pswd" formControlName="pswd" placeholder="password"><br>
        <button (click)="onSubmit()">submit</button>
    </form>

    <div *ngIf="successOnce">
        <p>{{ loginForm.value | json | titrifier }}</p>
    </div>
</div>